In [32]:
import pandas as pd
df = pd.read_csv('energydata_complete.csv')

In [33]:
from sklearn.preprocessing import MinMaxScaler

In [34]:
scaler = MinMaxScaler()

In [35]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [36]:
columns = {'date': 'date', 'Appliances':'Appliances', 'lights':'lights', 'T1':'Temp_Kitchen', 'RH_1':'Hum_Kitchen',
          'T2':'Temp_Living_Room', 'RH_2':'Hum_Living_Room', 'T3':'Temp_Laundry', 'RH_3':'Hum_Laundry',
           'T4':'Temp_Office', 'RH_4':'Hum_Office', 'T5':'Temp_Bathroom', 'RH_5':'Hum_Bathroom',
          'T6':'Temp_Out_North', 'RH_6':'Hum_Out_North', 'T7':'Temp_Ironing_Room', 'RH_7':'Hum_Ironing_Room',
           'T8':'Temp_Teens2', 'RH_8':'Hum_Teens2', 'T9':'Temp_Parents', 'RH_9':'Hum_Parents',
          'T_out': 'T_out', 'Press_mm_hg':'Press_mm_hg', 'RH_out':'RH_out', 'Windspeed':'Windspeed',
          'Visibility':'Visibility', 'Tdewpoint':'Tdewpoint', 'rv1':'rv1', 'rv2':'rv2'}

In [37]:
df = df.rename(columns=columns)
df.head()

,date,Appliances,lights,Temp_Kitchen,Hum_Kitchen,Temp_Living_Room,Hum_Living_Room,Temp_Laundry,Hum_Laundry,Temp_Office,...,Temp_Parents,Hum_Parents,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [38]:
new_df =df.drop(columns=['date', 'lights'])

In [39]:
new_df.head()

,Appliances,Temp_Kitchen,Hum_Kitchen,Temp_Living_Room,Hum_Living_Room,Temp_Laundry,Hum_Laundry,Temp_Office,Hum_Office,Temp_Bathroom,...,Temp_Parents,Hum_Parents,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [40]:
normalized_df = pd.DataFrame(scaler.fit_transform(new_df), columns=new_df.columns)

In [41]:
x = normalized_df['Temp_Living_Room']

In [42]:
y = normalized_df['Temp_Out_North']

In [43]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=47)

In [44]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [47]:
model.fit(x_train.values.reshape(-1, 1), y_train.values.reshape(-1, 1))

LinearRegression()

In [49]:
y_pred = model.predict(x_test.values.reshape(-1, 1))

In [50]:
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error

In [52]:
r2_score = r2_score(y_test.values.reshape(-1, 1), y_pred)

In [54]:
round(r2_score, 2)

0.64

In [55]:
mae = mean_absolute_error(y_test.values.reshape(-1, 1), y_pred)

In [56]:
round(mae, 2)

0.08

In [57]:
import numpy as np

In [58]:
rss = np.sum(np.square(y_test.values.reshape(-1, 1) - y_pred))

In [59]:
round(rss, 2)

67.55

In [60]:
rmse = np.sqrt(mean_squared_error(y_test.values.reshape(-1, 1), y_pred))

In [61]:
round(rmse, 3)

0.107

In [73]:
def weights(model, feature, column) :
    weights = pd.Series(model.coef_, feature.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = [ 'Features' , column]
    weights_df[column].round( 3 )
    return weights_df

In [63]:
new_x = normalized_df.drop(columns=['Appliances'])
new_y = normalized_df['Appliances']

In [68]:
from sklearn.model_selection import train_test_split
new_x_train, new_x_test, new_y_train, new_y_test = train_test_split(new_x, new_y, test_size=0.3, random_state=47)

In [69]:
new_model = LinearRegression()

In [70]:
new_model.fit(new_x_train, new_y_train)

LinearRegression()

In [71]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=  0.4 )
ridge_reg.fit(new_x_train, new_y_train)

from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha= 0.001 )
lasso_reg.fit(new_x_train, new_y_train)

Lasso(alpha=0.001)

In [74]:
new_model_weights = weights(new_model, new_x_train, 'New_Model_Weight')

In [75]:
new_model_weights.head()

           Features  New_Model_Weight
0   Hum_Living_Room         -0.478769
1             T_out         -0.295199
2  Temp_Living_Room         -0.265896
3      Temp_Parents         -0.193840
4        Hum_Teens2         -0.170001

In [78]:
display(new_model_weights.min())

Features            Hum_Bathroom
New_Model_Weight       -0.478769
dtype: object

In [79]:
display(new_model_weights.max())

Features                 rv2
New_Model_Weight    0.559152
dtype: object

In [80]:
lasso_weight = weights(lasso_reg, new_x_train, 'Lasso Weights')

In [81]:
display(lasso_weight)

             Features  Lasso Weights
0              RH_out      -0.052288
1          Hum_Teens2      -0.008449
2        Temp_Kitchen       0.000000
3           Tdewpoint       0.000000
4          Visibility       0.000000
5         Press_mm_hg      -0.000000
6               T_out       0.000000
7         Hum_Parents      -0.000000
8        Temp_Parents      -0.000000
9         Temp_Teens2       0.000000
10   Hum_Ironing_Room      -0.000000
11                rv1      -0.000000
12  Temp_Ironing_Room      -0.000000
13     Temp_Out_North       0.000000
14       Hum_Bathroom       0.000000
15      Temp_Bathroom      -0.000000
16         Hum_Office       0.000000
17        Temp_Office      -0.000000
18        Hum_Laundry       0.000000
19       Temp_Laundry       0.000000
20    Hum_Living_Room      -0.000000
21   Temp_Living_Room       0.000000
22      Hum_Out_North      -0.000000
23                rv2      -0.000000
24          Windspeed       0.003664
25        Hum_Kitchen       0.028297

In [82]:
new_y_pred = lasso_reg.predict(new_x_test)

In [83]:
lasso_rmse = np.sqrt(mean_squared_error(new_y_test, new_y_pred))
round(lasso_rmse, 3)

0.092

In [84]:
new_y_pred2 = ridge_reg.predict(new_x_test)

In [85]:
ridge_rmse = np.sqrt(mean_squared_error(new_y_test, new_y_pred2))
round(ridge_rmse, 3)

0.087